<!doctype html>
<html lang="ru">
<head>
	<title>Заметки</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/modal.css">
</head>
<body>
	<div id="app">
		<div class="block">
			<div class="new note" @click="showModal = true">
				Новая заметка
			</div>
			<div class="note" v-for="note in notes">
				<div class="name">{{note.name}}</div>
				<div class="text">{{note.text.substr(0,50)}}</div>
			</div>
		</div>
		<modal v-if="showModal" @close="close">
			<h3 slot="header">{{modalText.split(' ')[0]}}</h3>
			<textarea class="modal-area" slot="body" v-model="modalText"></textarea>
		</modal>
	</div>
	<footer>
		&copy; Сорокин Дмитрий 2018
	</footer>
	<div class="clean"></div>
	<!-- template for the modal component -->
	<script type="text/x-template" id="modal-template">
		<transition name="modal">
			<div class="modal-mask">
				<div class="modal-wrapper">
					<div class="modal-container">

						<div class="modal-header">
							<slot name="header">
								default header
							</slot>
						</div>

						<div class="modal-body">
							<slot name="body">
								<textarea class="modal-area"></textarea>
							</slot>
						</div>

						<div class="modal-footer">
							<slot name="footer">
								Чтобы сохранить нажмите ОК
								<button class="modal-default-button" @click="$emit('close')">
									OK
								</button>
							</slot>
						</div>
					</div>
				</div>
			</div>
		</transition>
	</script>
	<script src="js/vue-dev.js"></script>
	<script src="js/main.js"></script>
</body>
</html>